.eventsWrapper {
  position: absolute;
  justify-content: flex-end;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.event {
  position: absolute;
  width: 200px;
  background-color: var(--bg-clr);
  border-left: 3px solid var(--main-clr);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  color: var(--main-clr);
  font-weight: 600;
}

.delBtn {
  position: absolute;
  top: 0;
  right: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid var(--main-clr);
  background-image: url('../../assets/images/close-icon.svg');
  background-position: center;
  cursor: pointer;
}
