.background {
  background-image: url('../../assets/images/background.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.formContainer {
  background-color: rgba(255, 255, 255, 0.4);
  width: 40%;
  border-radius: 20px;
  padding: 40px;
}

.btnGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.primaryBtn {
  width: 100%;
  margin-bottom: 20px;
}

.secondaryBtn {
  width: 100%;
}
